*{margin: 0;
    padding: 0;
    box-sizing: border-box;;
   }
  header{
    width: 100%;
    max-width: 1600px;}
  
    .top-link a:hover {
    color:lightskyblue;
}

.nav-container{
    border: 1px solid black;
    width: 100%;
    max-width: 1600px;
    height: 74px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.logo {
    margin: 15px 120px 15px; 
}
.content ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.button-1{
    margin-right: 120px;
    color: white;
   background-color: #30B868;
    width: 164px;
    height: 44px;
border-radius: 8px;
    border: none;
  text-align: center;
  cursor: pointer;
}
.button-1:hover{
    background-color: #1E8C4A;}
 #banner{
    height: 674px;
    
background-image: url(assets/hero-bg.png);
  
  background-position: center;
  text-align: center;
}
.btn{color: #30B868;
    margin-top: 155px;
    margin-bottom: 16px;
    font-size: 12px;
    padding: 6px 10px 6px 30px;
   border: none;
    background-color:none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background-color: #E0F4EA;}

.h1-header{
    font-size: 60px;  
    font-weight: 700;
color:#FFFFFF;
}
 
.h1-head{
    font-size: 60px;
    font-weight: 700;
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    margin: 16px 295px 20px 295px;
   
}
.button-2{
      margin-right: 16px;
    color: white;
   background-color: #30B868;
    width: 180px;
    height: 44px;
border-radius: 8px;
    border: none;

  cursor: pointer;
}
.button-2:hover{
    background-color: #1E8C4A;
}

.button-2 img{
vertical-align: middle;}

.button-3{margin-right: 16px;
    color: white;
   background-color: transparent;
    width: 180px;
    height: 44px;
border-radius: 8px;
    border: 1px solid white;
cursor: pointer;
}
.button-3:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.notes{
    width: 85%;
    max-width: 1360px;
  
    margin-left: 120px;
    margin-right: 120px;
}
.notes-container h1{
    color: #001931;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}
.notes-container p{
    margin-top:10px;
    text-align: center;
    margin-bottom: 44px;
}
.notes-content{
    display: flex;
  gap: 24px;
  height: 300px;
  width: 270;
  justify-items: center;
  text-align: center;

}
.notes-card{
    /* border: 1px solid black; */
}
    .notes-card img{background-color:#F95555;
        border-radius: 50px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom:16px ;

    }
    .notes-content h3{
        font-size:24px ;
        margin-bottom:16px ;

    }
    .notes-content p{
        font-size: 16px;
        color: #627382;
    }
    .section-container{
        /* border:1px solid black; */
        margin:120px;
         width: 1360px;
        height: 600px;
        display: flex;
        gap:60px;
        margin-top: 0;
       
    }
    .section-container .brain{
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
        
    }
    .section-container .solution{
        color: #30B868;
        font-size: 15px;
        margin-top: 120px;
        margin-bottom: 16px;
    }
    .section-container h1{
        width: 600px;
        height: 110px;
        font-size: 50px;margin-top: 16px;
        margin-bottom: 20px;
    }
    .section-container p{
         width: 500px;
        height: 70px;
        color: #627382;
        font-size: 16px;
        margin-bottom: 20px;
     }
     .check-line p{
         height: 20px;
         width: 700px;
         margin-bottom: 10px;
     }
     .section-container p img{
    vertical-align: middle;
     }
     .footer-1{
        background-color:#F7F6F2 ;
        width: 100%;
        max-width: 1360px;
        /* border: 1px solid black; */
        text-align: center;
        margin-top: 150px;
      
       
     }
     footer h2{
        font-size: 40px;
        font-weight: bold;
        margin-top:  80px;
        margin-bottom: 16px;
     }
     footer p{
        color: #627382;
        margin-bottom: 24px;
     }
     footer button{
        margin-bottom: 16px; ;
     }
    
.footer-2{
    border: 1px solid black;
  display: flex;
    width:100%;
    max-width: 1340px;
    height: 250px;
justify-content: space-between;
background-color: #001931;
}
.footer-content{
    margin: 120px;
}
.footer-container p{
    text-align:left;
    justify-content: space-between;
   
}
.last{justify-content: center;align-items: center;
    
}
     




   
   





    

