*{margin: 0;
    padding: 0;
    box-sizing: border-box;;
   }
  header{
    width: 100%;
    max-width: 1600px;}
  
    .top-link a:hover {
    color:lightskyblue;
}

.nav-container{
    border: 1px solid black;
    width: 100%;
    max-width: 1600px;
    height: 74px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.logo {
    margin: 15px 120px 15px; 
}
.content ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.button{
    margin-right: 120px;
    color: white;
   background-color: #30B868;
    width: 164px;
    height: 44px;
border-radius: 8px;
    border: none;
  text-align: center;
  cursor: pointer;
}
  
    
   