*{margin: 0;
    padding: 0;
    box-sizing: border-box;;
   }
  header{
    width: 100%;
    max-width: 1600px;}
  
    .top-link a:hover {
    color:lightskyblue;
}

.nav-container{
    border: 1px solid black;
    width: 100%;
    max-width: 1600px;
    height: 74px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.logo {
    margin: 15px 120px 15px; 
}
.content ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.button-1{
    margin-right: 120px;
    color: white;
   background-color: #30B868;
    width: 164px;
    height: 44px;
border-radius: 8px;
    border: none;
  text-align: center;
  cursor: pointer;
}
.button-1:hover{
    background-color: #1E8C4A;}
 #banner{
    height: 674px;
    
background-image: url(assets/hero-bg.png);
  
  background-position: center;
  text-align: center;
}
.btn{color: #30B868;
    margin-top: 155px;
    margin-bottom: 16px;
    font-size: 12px;
    padding: 6px 10px 6px 30px;
   border: none;
    background-color:none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background-color: #E0F4EA;}

.h1-header{
    font-size: 60px;  
    font-weight: 700;
color:#FFFFFF;
}
 
.h1-head{
    font-size: 60px;
    font-weight: 700;
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    margin: 16px 295px 20px 295px;
   
}
.button-2{
      margin-right: 16px;
    color: white;
   background-color: #30B868;
    width: 180px;
    height: 44px;
border-radius: 8px;
    border: none;

  cursor: pointer;
}
.button-2:hover{
    background-color: #1E8C4A;
}

.button-2 img{
vertical-align: middle;}

.button-3{margin-right: 16px;
    color: white;
   background-color: transparent;
    width: 180px;
    height: 44px;
border-radius: 8px;
    border: 1px solid white;
cursor: pointer;
}
.button-3:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.notes{
    width: 85%;
    max-width: 1360px;
  
    margin-left: 120px;
    margin-right: 120px;
}
.notes-container h1{
    color: #001931;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}
.notes-container p{
    margin-top:10px;
    text-align: center;
    margin-bottom: 44px;
}
.notes-content{
    display: flex;
  gap: 24px;
  height: 300px;
  width: 270;
  justify-items: center;
  text-align: center;

}
.notes-card{
    /* border: 1px solid black; */
}
    .notes-card img{background-color:#F95555;
        border-radius: 50px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom:16px ;

    }
    .notes-content h3{
        font-size:24px ;
        margin-bottom:16px ;

    }
    .notes-content p{
        font-size: 16px;
        color: #627382;
    }


   
   





    

